//test

//login
$base-color: #0000ff;
$dark-color: #5a7fde;
$dark-blue: #0c2083;
$light-blue: rgb(186, 223, 255);
$trans-dark: linear-gradient(#b8c4ff, #7bbfff);
$font-size: 16px;
$font-style: "Roboto", sans-serif;


* {
    box-sizing: border-box;
}

/*smooth scroll here*/
html {
    scroll-behavior: smooth;
}

#account {
    top: 200px;
    right: 40px;
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color:rgba(87, 170, 242, 0.54);
    padding: 10px;
    
    a {
        background-color:aliceblue;
        color:rgb(91, 126, 255);
        text-decoration: none;
        padding: 5px;
        font-family:Arial, Helvetica, sans-serif;
    }
    a:hover {
        text-decoration: underline;
    }
}
#icon {
    //top: 260px;
    //position: relative;
    display: flex;
    position: absolute;

    #icon-button {
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        background-color: black;
    }
}
#user-menu {
    padding: 5px;
    background-color: aliceblue;
    color: $dark-blue;
    font-weight: bold;
    top: 305px;
    right: 5px;
    position: absolute;
    a {
        color:rgb(91, 126, 255);
        text-decoration: none;

        &:hover {
            text-decoration:underline;
        }
    }
}


#login-form {
    margin: 0 auto;
    display: block;
    width: 400px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.main-inputs {
    input {
        width: 320px;
        font-size: 18px;
        display: inline-block;
        margin-bottom: 15px;
        background-color: white;
        border: none;
        border-bottom: 1px solid black;

    }

    .profile-img {
        /* HIDE RADIO */
        [type=radio] { 
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* IMAGE STYLES */
        [type=radio] + img {
            cursor: pointer;
            width: 50%;
        }
        
        /* CHECKED STYLES */
        [type=radio]:checked + img {
            outline: 2px solid #f00;
            border-radius: 50%;
        }
        label {
            display: inline-block;
            text-align: center;
            width: 100px;
            margin-right: 5px;
        }
    }
    
}
#buttons {
    margin-bottom: 20px;
    text-align: center;
    button {
        font-weight: bold;
        //border:rgb(91, 126, 255);
        //border: 5px;
        border-radius: 18px;
        font-size: 20px;
        padding: 8px;
        width: 100px;
        background-color: rgb(0, 0, 0);
        color:#ffffff;
        border: none;
        font-family: $font-style;
        
        
        &:hover {
            background-color:#5a7fde;
            color: white;
            cursor: pointer;

        }
    }
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 2px; 

    animation: background-change 8s infinite;
}

main{
    font-family: $font-style;
    .top {
        //background-color: #768be8;
        background-color: #AAE1FF;
        border-radius: 0px 0px 20px 20px;
        padding-bottom: 15px;
        margin-bottom: 15px;

        img {
            width: 50%;
            margin: 0 auto;
            display: block;
        }
    }
    width: 100%;
    max-width: 520px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: white;

    h1 {
        font-family: "Roboto", sans-serif;
    }

    p {
        color: $dark-blue;
    }
    img {
        width: 100%;
    }
}

//saved clubs
main{
    font-family: "Roboto";
}

.searchbar{
    border: 1px solid rgb(213, 212, 212);
    background-color: rgb(213, 212, 212);
    color: grey;
    width: 400px;
    height: 50px;


    #find{
       padding-left: 10px;
    }
}

.checklist{
  padding: 30px;
  margin: 0 auto;
  align-items: vertical;
}


.wrapper{
  padding: 20px;

    img{
    width: 50px;
    height: 50px;
    float: right;
}

}

.TMG{
    width: 400px;
   border: 1px solid grey; 
   height: 50px;
   padding: 10px;
   font-weight: 100;
}

.volleyball{
    width: 400px;
    border: 1px solid grey; 
    height: 50px;
    padding: 10px;
    font-weight: 100;
}

.innovation{
    width: 400px;
    border: 1px solid grey; 
    height: 50px;
    padding: 10px;
    font-weight: 100;
}

.redcross{
    width: 400px;
    border: 1px solid grey; 
    height: 50px;
    padding: 10px;
    font-weight: 100;
}

.spark{
    width: 400px;
    border: 1px solid grey; 
    height: 50px;
    padding: 10px;
    font-weight: 100;
}

.spatial{
    width: 400px;
    border: 1px solid grey; 
    height: 50px;
    padding: 10px;
    font-weight: 100;
}

.rect{
  border: 1px solid rgb(161, 86, 161);
  width: 10px;
  height: 70px;
  background-color: rgb(161, 86, 161);
  float: left;
}

.rect1{
    border: 1px solid rgba(105, 105, 255, 0.8);
    width: 10px;
    height: 70px;
    background-color: rgba(105, 105, 255, 0.8);
    float: left;
  }


.rect2{
    border: 1px solid rgb(252, 203, 211);
    width: 10px;
    height: 70px;
    background-color: rgb(252, 203, 211);
    float: left;
}

.rect3{
    border: 1px solid rgb(241, 91, 91);
    width: 10px;
    height: 70px;
    background-color: rgb(241,91,91);
    float: left;
}

.rect4{
    border: 1px solid rgb(161, 86, 161);
    width: 10px;
    height: 70px;
    background-color: rgb(161, 86, 161);
    float: left;
}

.rect5{
    border: 1px solid rgb(116, 199, 116);
    width: 10px;
    height: 70px;
    background-color: rgb(116, 199, 116);
    float: left;
}

footer{
    margin-bottom: 0;
    position: sticky;
    background-color: rgb(255, 255, 136);
    width: 100%;
    // height: 50px;
    border: 1px solid (255,255,136);
  

    #home{
       text-align: left;
       width: 50px;
       height: 50px;
      
    }

    #search{
        text-align: center;
        width: 50px;
        height: 50px;
    }

    #list{
        text-align: right;
        width: 50px;
        height: 50px;
       
    }

}