.title {
    padding: 20px 30px;
}

.club {
    padding: 50px;
    background-color: grey;
}

.navbar {
    position: fixed;
    bottom: 0;
    padding: 20px;
    background-color: grey;
    width: 100%;
}